# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Folder
images/
models_temple/
node_modules/

#File Models
*.onnx

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Python-related
*.coverage
*.tox
*.nox
*.coverage.*
nosetests.xml
coverage.xml
*.hypothesis/
*.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# logs
*.log

# sensitive or temporary files
*.env
*.DS_Store
*.bak
*.swp

# Test output
test-output/
